In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from xgboost import XGBClassifier

In [3]:
df = pd.read_csv("dataset_med.csv")
df

,id,age,gender,country,diagnosis_date,cancer_stage,family_history,smoking_status,bmi,cholesterol_level,hypertension,asthma,cirrhosis,other_cancer,treatment_type,end_treatment_date,survived
0,1,64.0,Male,Sweden,2016-04-05,Stage I,Yes,Passive Smoker,29.4,199,0,0,1,0,Chemotherapy,2017-09-10,0
1,2,50.0,Female,Netherlands,2023-04-20,Stage III,Yes,Passive Smoker,41.2,280,1,1,0,0,Surgery,2024-06-17,1
2,3,65.0,Female,Hungary,2023-04-05,Stage III,Yes,Former Smoker,44.0,268,1,1,0,0,Combined,2024-04-09,0
3,4,51.0,Female,Belgium,2016-02-05,Stage I,No,Passive Smoker,43.0,241,1,1,0,0,Chemotherapy,2017-04-23,0
4,5,37.0,Male,Luxembourg,2023-11-29,Stage I,No,Passive Smoker,19.7,178,0,0,0,0,Combined,2025-01-08,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
889995,889996,40.0,Male,Malta,2022-07-01,Stage IV,No,Passive Smoker,44.8,243,1,1,1,0,Radiation,2023-02-23,0
889996,889997,62.0,Female,Cyprus,2015-09-27,Stage II,Yes,Former Smoker,21.6,240,0,0,0,0,Surgery,2017-06-19,0
889997,889998,48.0,Female,Estonia,2016-03-27,Stage III,Yes,Never Smoked,38.6,242,1,0,0,0,Combined,2017-01-23,1
889998,889999,67.0,Female,Slovakia,2015-12-22,Stage IV,Yes,Former Smoker,18.6,194,1,1,0,0,Chemotherapy,2017-12-12,0
889999,890000,55.0,Female,Malta,2021-07-26,Stage II,Yes,Current Smoker,42.8,250,0,0,0,0,Combined,2022-10-19,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 890000 entries, 0 to 889999
Data columns (total 17 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  890000 non-null  int64
 1   age                 890000 non-null  float64
 2   gender              890000 non-null  object
 3   country             890000 non-null  object
 4   diagnosis_date      890000 non-null  object
 5   cancer_stage        890000 non-null  object
 6   family_history      890000 non-null  object
 7   smoking_status      890000 non-null  object
 8   bmi                 890000 non-null  float64
 9   cholesterol_level   890000 non-null  int64
 10  hypertension        890000 non-null  int64
 11  asthma              890000 non-null  int64
 12  cirrhosis           890000 non-null  int64
 13  other_cancer        890000 non-null  int64
 14  treatment_type      890000 non-null  object
 15  end_treatment_date  890000 non-null  object
 16  survived            890000 non-null  int64
dtypes: float64(2), int64(7), object(8)
memory usage: 115.4+ MB

In [17]:
df.columns

Index(['age', 'gender', 'cancer_stage', 'family_history', 'smoking_status',
       'bmi', 'cholesterol_level', 'hypertension', 'asthma', 'cirrhosis',
       'other_cancer', 'treatment_type', 'survived'],
      dtype='object')

In [19]:
for col in df.columns:
    if df[col].dtypes=='object':
        df[col]=df[col].astype('category').cat.codes

In [21]:
df

,age,gender,cancer_stage,family_history,smoking_status,bmi,cholesterol_level,hypertension,asthma,cirrhosis,other_cancer,treatment_type,survived
0,64.0,1,0,1,3,29.4,199,0,0,1,0,0,0
1,50.0,0,2,1,3,41.2,280,1,1,0,0,3,1
2,65.0,0,2,1,1,44.0,268,1,1,0,0,1,0
3,51.0,0,0,0,3,43.0,241,1,1,0,0,0,0
4,37.0,1,0,0,3,19.7,178,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
889995,40.0,1,3,0,3,44.8,243,1,1,1,0,2,0
889996,62.0,0,1,1,1,21.6,240,0,0,0,0,3,0
889997,48.0,0,2,1,2,38.6,242,1,0,0,0,1,1
889998,67.0,0,3,1,1,18.6,194,1,1,0,0,0,0
889999,55.0,0,1,1,0,42.8,250,0,0,0,0,1,0

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 890000 entries, 0 to 889999
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   age                890000 non-null  float64
 1   gender             890000 non-null  int8
 2   cancer_stage       890000 non-null  int8
 3   family_history     890000 non-null  int8
 4   smoking_status     890000 non-null  int8
 5   bmi                890000 non-null  float64
 6   cholesterol_level  890000 non-null  int64
 7   hypertension       890000 non-null  int64
 8   asthma             890000 non-null  int64
 9   cirrhosis          890000 non-null  int64
 10  other_cancer       890000 non-null  int64
 11  treatment_type     890000 non-null  int8
 12  survived           890000 non-null  int64
dtypes: float64(2), int64(6), int8(5)
memory usage: 58.6 MB

In [27]:
df.corr()

,age,gender,cancer_stage,family_history,smoking_status,bmi,cholesterol_level,hypertension,asthma,cirrhosis,other_cancer,treatment_type,survived
age,1.000000,-0.000945,0.000875,-0.001111,-0.000045,0.000915,0.001799,-0.001082,-0.000519,-0.000067,-0.000785,-0.001028,0.001233
gender,-0.000945,1.000000,-0.000161,0.000762,-0.000595,0.000504,0.000224,-0.000254,0.001142,0.001092,-0.000545,0.000040,0.000762
cancer_stage,0.000875,-0.000161,1.000000,0.000345,0.001160,-0.000446,-0.000504,0.000818,-0.001350,-0.000034,0.000260,-0.002192,0.002519
family_history,-0.001111,0.000762,0.000345,1.000000,-0.001261,0.000411,0.000086,-0.001639,-0.000808,0.002495,-0.000024,0.000310,0.001322
smoking_status,-0.000045,-0.000595,0.001160,-0.001261,1.000000,0.000901,0.001169,0.000408,-0.000140,0.001454,-0.000579,-0.000910,0.000087
bmi,0.000915,0.000504,-0.000446,0.000411,0.000901,1.000000,0.746905,0.001923,0.001662,0.000608,0.000771,0.000783,0.000007
cholesterol_level,0.001799,0.000224,-0.000504,0.000086,0.001169,0.746905,1.000000,0.002049,0.001263,0.000467,-0.000185,0.000113,0.000157
hypertension,-0.001082,-0.000254,0.000818,-0.001639,0.000408,0.001923,0.002049,1.000000,0.108201,0.097139,0.073651,0.001566,0.000059
asthma,-0.000519,0.001142,-0.001350,-0.000808,-0.000140,0.001662,0.001263,0.108201,1.000000,0.053147,0.039283,0.000734,-0.001809
cirrhosis,-0.000067,0.001092,-0.000034,0.002495,0.001454,0.000608,0.000467,0.097139,0.053147,1.000000,0.022671,0.001952,0.001956
other_cancer,-0.000785,-0.000545,0.000260,-0.000024,-0.000579,0.000771,-0.000185,0.073651,0.039283,0.022671,1.000000,-0.001048,-0.001972
treatment_type,-0.001028,0.000040,-0.002192,0.000310,-0.000910,0.000783,0.000113,0.001566,0.000734,0.001952,-0.001048,1.000000,0.002354
survived,0.001233,0.000762,0.002519,0.001322,0.000087,0.000007,0.000157,0.000059,-0.001809,0.001956,-0.001972,0.002354,1.000000

In [29]:
x=df.drop('survived',axis=1)
y=df['survived']

In [31]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,stratify=y,random_state=42)

In [33]:
neg=(y==0).sum()

In [35]:
pos=(y==1).sum()

In [39]:
scale_pos_weight=neg/pos
scale_pos_weight

3.540723658700843

In [41]:
model=XGBClassifier(
    n_estimators=1200,
    learning_rate=0.015,
    max_depth=6,
    subsample=0.85,
    colsample_bytree=0.85,
    min_child_weight=2,
    gamma=0.3,
    reg_alpha=0.2,
    reg_lambda=1.5,
    scale_pos_weight=scale_pos_weight,
    tree_method="hist",
    eval_metric="logloss",
    random_state=42
)

In [ ]:
model.fit(x_train,y_train)

In [ ]:
y_pred=model.predict(x_test)